@tailwind base;
@tailwind components;
@tailwind utilities;

/* Swiper styles */

:root {

  --swiper-pagination-color: #fff;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #fafafa;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}

/* src/app/globals.css */

.fullWidth {
  @apply p-[15px] sm:p-[25px] 2xl:pt-[25px] 2xl:pb-[25px] 2xl:pl-[10%] 2xl:pr-[10%];
}

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Arial', sans-serif;
  background-color: #121212; /* Dark background */
  color: #e0e0e0; /* Light grey text */
}

body{
  padding-top: 30px;
}

a {
  color: #bb86fc; /* Accent color for links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: #bb86fc;
  color: #121212;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #9a67ea;
}

/* Additional global styles can be added here */
