@tailwind base;
@tailwind components;
@tailwind utilities;

/* Swiper styles */

:root {

  --swiper-pagination-color: #fff;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #fafafa;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}

/* src/app/globals.css */

.fullWidth {
  @apply p-[15px] sm:p-[25px] 2xl:pt-[25px] 2xl:pb-[25px] 2xl:pl-[10%] 2xl:pr-[10%];
}

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Arial', sans-serif;
  background-color: #121212; /* Dark background */
  color: #e0e0e0; /* Light grey text */
}

body{
  padding-top: 30px;
}

a {
  color: #bb86fc; /* Accent color for links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: #bb86fc;
  color: #121212;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #9a67ea;
}

/* Article styles */

/* Headings */
.articleContainer h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: normal;
}

.articleContainer h2 {
  font-size: 2rem;
  line-height: normal;
  font-weight: bold;
  margin-bottom: 0.75rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.25rem;
}

.articleContainer h3 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
    line-height: normal;
}

.articleContainer h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
    line-height: normal;
}

/* Paragraphs */
.articleContainer p {
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: normal;
}

/* Links */
.articleContainer a {
  text-decoration: none;
  font-weight: normal;
  transition: color 0.3s ease;
    line-height: normal;
    text-decoration: underline;
}

.articleContainer a:hover {
 font-weight: bold;
}

/* Lists */
.articleContainer ul,
.articleContainer ol {
  margin: 1rem 0;
  padding-left: 40px;
}

.articleContainer ul li,
.articleContainer ol li {
  margin-bottom: 0.5rem;
  line-height: normal;
}

.articleContainer ul {
  list-style-type: disc;
}

.articleContainer ol {
  list-style-type: decimal;
}

/* Images */
.articleContainer img {
  max-width: 100%;
  height: auto;
  margin: 1rem 0;
  display: block;
}

/* Blockquotes */
.articleContainer blockquote {
  font-style: italic;
  margin: 1rem 0;
  padding-left: 1rem;
  border-left: 4px solid #ccc;
}

/* Tables */
.articleContainer table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
  font-size: 0.9rem;
}

.articleContainer table th,
.articleContainer table td {
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-align: left;
}

.articleContainer table th {
  font-weight: bold;
}

.articleContainer table tr:nth-child(even) {
  background-color: #373737;
}

/* Preformatted Text and Code */
.articleContainer pre {
  padding: 1rem;
  overflow-x: auto;
  margin: 1rem 0;
}

.articleContainer code {
  padding: 2px 4px;
}
